.app {
  color: rgb(69, 60, 99);
  background: rgb(249, 249, 251);
  padding: 80px;
  font-family: 'Baloo 2', cursive;
}

.app2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
}

button {
  border: none;
}

input { border-style: none; background: transparent; outline: none; }


button:hover {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}