.css-1kty9di-MuiFormLabel-root-MuiInputLabel-root.Mui-focused, .css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: #ff9600 !important;
}

.css-1480iag-MuiInputBase-root-MuiInput-root:hover:not(.Mui-disabled):before, .css-1480iag-MuiInputBase-root-MuiInput-root:after {
    border-bottom: 2px solid #ff9600 !important;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #ff9600 !important;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #ff9600 !important;
}

.css-187mznn-MuiSlider-root, .css-1rcvyyg.Mui-focused, .css-1rcvyyg.Mui-focused {
    color: #ff9600 !important;
}

.Mui-selected, .Mui-selected:hover {
    background-color: rgb(255 181 0 / 20%) !important;
}

.css-1bn531x:hover .MuiOutlinedInput-notchedOutline {
    border-color: rgba(0, 0, 0, 0.23) !important;
}

.Mui-focused, .css-1bn53lx.Mui-focused .MuiOutlinedInput-notchedOutline, .css-1v4ccyo.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #ff9600 !important;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root, .css-1kty9di-MuiFormLabel-root-MuiInputLabel-root, .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root, .css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input, .css-1pysi21-MuiFormLabel-root-MuiInputLabel-root, .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    color: rgb(69, 60, 99) !important;
    font-family: 'Baloo 2', cursive !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected:hover, .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected, .css-1bn53lx:hover .MuiOutlinedInput-notchedOutline, .css-1v4ccyo:hover .MuiOutlinedInput-notchedOutline {
    border-color: rgba(0, 0, 0, 0.23) !important;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline, .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline, .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline, .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline, .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-color: #ff9600 !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected, .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected:hover {
    background-color: rgb(255 181 0 / 20%) !important;
}